ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.col-2{
  flex-basis: 16%;
}
.col-3{
  flex-basis: 25%;
}
.col-4{
  flex-basis: 33%;
}
.col-5{
  flex-basis: 42%;
}
.col-6{
  flex-basis: 50%;
}
