.footer{
    display: flex;
    flex-flow: nowrap;
    background-color:#000000;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer p{
    color: #FFFFFF;
    font-size: 1.25rem;
  }
  .footer img{
    max-width: 5.6rem;
  }
  .footer ul li{
    display: inline-block;
  }
  .footer ul img{
    max-width: 1.9rem;
    margin-right: 1.5rem;
  }