.cart{
    padding-left: 3rem;
  }
  .cartDescription{
    padding-right: 15rem;
  }
  .cart div h3{
    margin-bottom: 0rem;
  }
  .dishName{
    margin-top: 0rem;
    color: #696969;
    font-weight: 700;
  }
  .cart div span{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .cart div span p{
    margin: 0;
    padding: 0;
  }
  .chargesDescription{
    margin-top: 0;
    font-size: 0.8rem;
  }